body {
    background-image: linear-gradient(to right, #3333ff, blue, #1A313C);
}

h1 {
    text-align: center;
}

h1, h2, h3 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table, td {
    border: 1px solid black;
    color: white;
    text-align: center;
}

th {
    background-color: white;
    color: black;
    border: 1px solid black;
}

td {
    background-color: rgb(23, 137, 175);
    color: white;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}

img {
    width: 55px;
    height: 65px;
}